In [19]:
import pandas as pd

In [20]:
regex = r'\D'

In [21]:
df = pd.DataFrame({'A': ['3263232 sds 3 dsds 9999', 'f3oo', 'b13ai44t'],
                   'B': ['abc', 'bar', 'xyz']})

In [22]:
df

                         A    B
0  3263232 sds 3 dsds 9999  abc
1                     f3oo  bar
2                 b13ai44t  xyz

In [23]:
df.A.replace(to_replace=regex,value='',regex=True)

0    326323239999
1               3
2            1344
Name: A, dtype: object